<div>
  <div class="header">
    <img src="/assets/images/logo-devlinks-large.svg" alt="App name" />
  </div>
  <div class="login-box">
    <h1>Login</h1>
    <p>Add your details below to get back into the app</p>
    <form>
      <label for="login-form-email">Email address</label>
      <input id="login-form-email" />

      <label for="login-form-password">Password</label>
      <input id="login-form-password" />

      <button>Login</button>
    </form>
    <p>Don't have an account? <a [href]="">Create account</a></p>
  </div>
</div>
