<app-auth-box>
  <div class="header-box">
    <h1>Login</h1>
    <p>Add your details below to get back into the app</p>
  </div>
  <form class="form-box">
    <app-input
      id="login-form-email"
      label="Email address"
      placeholder="e.g. alex@email.com"
    ></app-input>
    <app-input
      id="login-form-password"
      label="Password"
      placeholder="Enter your password"
    ></app-input>

    <button>Login</button>

    <p>Don't have an account? <a [href]="">Create account</a></p>
  </form>
</app-auth-box>
