@import "variables", "typography", "button", "input";

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: $background-1;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.5rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.w-100 {
  width: 100%;
}

.divider {
  background-color: $border;
  height: 0.0625rem;
  width: 100%;
}
