<div class="input" [class.focused]="inputFocused$ | async">
  <label [for]="inputId">{{ label }}</label>
  <div class="input-box" #selectInput>
    <img />
    <input
      class="body-m"
      [id]="inputId"
      [value]="selectedOption?.label"
      (focus)="inputFocusedSubject$.next(true)"
    />
  </div>
</div>

<div #selectBox [hidden]="!(inputFocused$ | async)" class="select-box">
  <ng-container *ngFor="let option of options">
    <button class="select-option" (click)="selectOption(option)">
      <svg-icon [src]="option.icon"></svg-icon>
      {{ option.label }}
    </button>
    <div class="divider"></div>
  </ng-container>
</div>
