@import "../../styles/variables.scss";

.auth-box-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-1;

  .auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.1875rem;
    background-color: $background-0;
  }
}
